html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #919299;
  scroll-behavior: smooth; }

.container {
  max-width: 1140px;
  padding-top: 58px;
  margin-left: auto;
  margin-right: auto; }

.pink-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #F78CB6; }

.title {
  font-weight: 700;
  font-size: 52px;
  line-height: 72px;
  color: #56597A; }

body {
  position: relative; }
  body:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    width: 796px;
    height: 800px;
    background-image: url("/img/vectorTopRight.svg"); }
  body:before {
    position: absolute;
    z-index: -1;
    top: 640px;
    left: 0;
    width: 100%;
    content: " ";
    display: block;
    width: 796px;
    height: 800px;
    background-image: url(./../../img/bloobs.svg);
    background-repeat: no-repeat; }

.no-scroll {
  overflow-y: hidden; }

.none {
  display: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit; }

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit; }

button, input[type="submit"] {
  background: none;
  cursor: pointer; }

input:focus, butto:focus {
  outline: none; }

ul, li {
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

.naw_row {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 9;
  font-weight: 500;
  color: #AAAAAB; }
  .naw_row span {
    color: #56597A; }

.navigation-right {
  display: flex;
  align-items: center; }
  .navigation-right ul {
    display: flex; }
  .navigation-right li {
    margin-right: 65px; }
    .navigation-right li a:hover, .navigation-right li span:hover {
      color: #F78CB6; }

.nav-button {
  cursor: pointer;
  position: relative;
  z-index: 9;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: #AAAAAB; }
  .nav-button:focus {
    outline: none; }
  .nav-button:active {
    outline: none; }

.nav-button__icon::before {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  left: 0;
  top: -9px;
  border-radius: 2px;
  background-color: #AAAAAB; }
.nav-button__icon::after {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  left: 0;
  bottom: -9px;
  border-radius: 2px;
  background-color: #AAAAAB; }

.header-row {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.header-text {
  max-width: 600px; }
  .header-text h1 {
    font-size: 64px; }
  .header-text p {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 35px; }

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 216px;
  height: 66px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  background-color: #F78CB6; }
  .button span, .button img {
    color: #FFFFFF; }
  .button:hover {
    background-color: #DD558C; }

.services-title {
  text-align: center; }
  .services-title h2 {
    margin-top: 30px;
    margin-bottom: 60px; }

.services-row {
  display: flex;
  column-gap: 30px; }

.service-card {
  padding-right: 23px;
  padding-left: 23px;
  padding-bottom: 23px;
  width: 270px;
  height: 307px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background-color: #FFF1F9; }
  .service-card .img {
    margin-top: 55px;
    margin-bottom: 30px;
    fill: #F78CB6; }
  .service-card h3 {
    font-size: 34px; }
  .service-card p {
    font-size: 16px;
    line-height: 24px; }
  .service-card:hover {
    cursor: pointer;
    height: 344px;
    background-color: #DD558C;
    transition: background-color 0.2s ease-in; }
    .service-card:hover h3, .service-card:hover p {
      color: #FFFFFF;
      transition: color 0.2s ease-in; }
    .service-card:hover .learn-more {
      opacity: 1; }
    .service-card:hover .img {
      fill: #FFFFFF;
      transition: fill 0.2s ease-in; }

.learn-more {
  margin-top: 20px;
  display: flex;
  align-items: center;
  opacity: 0; }
  .learn-more p {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF; }

.design-things-row {
  margin-top: 130px;
  display: flex;
  column-gap: 80px;
  align-items: flex-start; }

.design-things-text {
  max-width: 520px; }
  .design-things-text h2 {
    margin-top: 10px;
    margin-bottom: 20px; }
  .design-things-text .design-things-button {
    margin-top: 30px; }

.teamwork-row {
  margin-top: 130px;
  display: flex;
  column-gap: 80px;
  align-items: flex-start; }

.teamwork-text {
  max-width: 510px; }
  .teamwork-text h2 {
    margin-top: 10px;
    margin-bottom: 20px; }
  .teamwork-text .teamwork-button {
    margin-top: 30px; }

.testimonial-row {
  margin-top: 130px;
  display: flex;
  column-gap: 80px;
  align-items: flex-start; }

.testimonial-text {
  max-width: 500px; }
  .testimonial-text h2 {
    margin-top: 10px;
    margin-bottom: 20px; }
  .testimonial-text p {
    max-width: 400px; }

.tesimonial-slider {
  margin-top: 20px; }
  .tesimonial-slider .name {
    font-size: 28px;
    line-height: 40px; }
  .tesimonial-slider .tesimonial-slider-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .tesimonial-slider .tesimonial-slider-row p {
      font-size: 16px; }
    .tesimonial-slider .tesimonial-slider-row .arrows {
      display: flex;
      column-gap: 10px;
      padding-top: 10px; }
      .tesimonial-slider .tesimonial-slider-row .arrows svg {
        height: 10px;
        width: 15px;
        transition: height 0.2s ease-in;
        fill: #919299; }
        .tesimonial-slider .tesimonial-slider-row .arrows svg:hover {
          cursor: pointer;
          height: 13px;
          fill: #F78CB6; }

.brands-row {
  display: flex;
  justify-content: space-between;
  margin-top: 80px; }
  .brands-row svg {
    fill: #C1C1C1;
    transition: fill 0.2s ease-in; }
    .brands-row svg:hover {
      fill: #F78CB6; }

.subscribe-title {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .subscribe-title .subtitle {
    margin-top: 20px;
    max-width: 500px; }

.subscribe-form {
  display: flex;
  justify-content: center; }
  .subscribe-form .subscribe-form__lable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 706px;
    border-radius: 4px;
    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.2s ease-in; }
    .subscribe-form .subscribe-form__lable .email {
      margin-left: 14px;
      display: flex;
      column-gap: 15px; }
      .subscribe-form .subscribe-form__lable .email input {
        width: 350px; }
        .subscribe-form .subscribe-form__lable .email input::placeholder {
          color: #D2D2D2; }
    .subscribe-form .subscribe-form__lable:hover {
      box-shadow: 0px 17px 42px rgba(230, 41, 167, 0.12); }
    .subscribe-form .subscribe-form__lable .subscribe-button {
      margin-right: 14px; }
      .subscribe-form .subscribe-form__lable .subscribe-button:hover {
        box-shadow: 5px 5px 20px rgba(15, 1, 10, 0.12);
        transition: box-shadow 0.2s ease-in; }

.subscribe {
  position: relative; }
  .subscribe:before {
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 50px;
    width: 100%;
    content: " ";
    display: block;
    width: 796px;
    height: 800px;
    background-image: url(./../../img/subscribe.svg);
    background-repeat: no-repeat; }

.footer {
  margin-top: 100px;
  height: 480px;
  background-image: url(../../img/footer.png);
  background-repeat: no-repeat; }

.footer-row {
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-starts; }
  .footer-container .main-info img {
    margin-bottom: 25px; }
  .footer-container .main-info .socials-text {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700; }
  .footer-container .main-info .socials {
    display: flex;
    column-gap: 10px; }
    .footer-container .main-info .socials svg {
      fill: #A7A7A7;
      transition: fill 0.2s ease-in; }
      .footer-container .main-info .socials svg:hover {
        fill: #F78CB6; }
  .footer-container .footer-menu {
    display: flex;
    justify-content: space-between;
    column-gap: 110px; }
    .footer-container .footer-menu h3 {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 24px;
      color: #56597A; }
    .footer-container .footer-menu li {
      margin-bottom: 15px; }
      .footer-container .footer-menu li a:hover {
        cursor: pointer;
        font-weight: 500;
        color: #F78CB6; }

.footer-line {
  padding: 15px 130px 15px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  background-color: #F78CB6; }
  .footer-line .lang-selecter {
    display: flex;
    column-gap: 10px; }
    .footer-line .lang-selecter p {
      font-weight: 450;
      font-size: 14px; }
      .footer-line .lang-selecter p:hover {
        cursor: pointer;
        color: #FFF1F9; }

/*# sourceMappingURL=main.css.map */
