.brands-row {
    display: flex;
    justify-content: space-between;

    margin-top: 80px;

    svg {
        fill: #C1C1C1;

        transition: fill 0.2s ease-in;
        &:hover {
            fill: #F78CB6;
        }
    }
}