.button {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 216px;
    height: 66px;
    border-radius: 4px;

    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    
    background-color: $accent-pink;

    span, img {
        color: #FFFFFF;
    }

    &:hover {
        background-color: #DD558C
    }
}