.header-row {
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-text {
    max-width: 600px;

    h1 {
        font-size: 64px;
    }

    p {
        margin-top: 30px;
        margin-bottom: 40px;

        line-height: 35px;
    }
}