.naw_row {
    display: flex;
    justify-content: space-between;

    position: relative;
    z-index: 9;

    font-weight: 500;
    color: $text-grey;


    span {
        color: #56597A;
    }
}

.navigation-right{
    display: flex;
    align-items: center;

    ul {
        display: flex;
    }
    
    li {
        margin-right: 65px;
        a, span {
            &:hover {
                color: $accent-pink;
            }
        }
    }
}